flows(mqtt.iut-blagnac.fr).json
[
    {
        "id": "9b367bdde296e5ee",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f0ec1232e169d77",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e42de1899c7538e1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0609345a0b36c63d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "682b5f77a288a2cc",
        "type": "mqtt-broker",
        "name": "mosquittoRT",
        "broker": "192.168.195.164",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "824dc79fbbce35d0",
        "type": "ui_tab",
        "name": "Bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52c0f373e16afa32",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2e741c569e7e0d36",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": 8086,
        "protocol": "http",
        "database": "capteurs",
        "name": "influxdbRT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "c33c36a1b291a33d",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "824dc79fbbce35d0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82f8706c137f7565",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c00aa1f413d799f9",
        "type": "ui_group",
        "name": "Capteurs humidite",
        "tab": "824dc79fbbce35d0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac5f9e38b70b3995",
        "type": "mqtt-broker",
        "name": "Mon Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d4177fc0af7369ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "493bbb8e114bdf94",
        "type": "ui_group",
        "name": "capteurs Luminosité",
        "tab": "824dc79fbbce35d0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "320b2a0a7b29eb91",
        "type": "ui_group",
        "name": "capteurs CO2",
        "tab": "824dc79fbbce35d0",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Broker IUT",
        "broker": "iot.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "055b3e024f8d4ae5",
        "type": "ui_tab",
        "name": "Bâtiment Info",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01506f2f2708949f",
        "type": "ui_group",
        "name": "Capteur Humidité",
        "tab": "055b3e024f8d4ae5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5be29dfa5634931b",
        "type": "ui_group",
        "name": "Capteur CO2",
        "tab": "055b3e024f8d4ae5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82033acff3d40018",
        "type": "ui_group",
        "name": "Capteur Luminosité",
        "tab": "055b3e024f8d4ae5",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "276074a20a92c4e2",
        "type": "ui_tab",
        "name": "Bâtiment CS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b358c62dfbc992bb",
        "type": "ui_group",
        "name": "Capteur Température",
        "tab": "276074a20a92c4e2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c96d2cc9eebb7320",
        "type": "ui_group",
        "name": "Capteur Humidité",
        "tab": "276074a20a92c4e2",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "195764252962811e",
        "type": "ui_group",
        "name": "Capteur CO2",
        "tab": "276074a20a92c4e2",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "df5c8f4a8a25c5a9",
        "type": "ui_group",
        "name": "Capteur Luminosité",
        "tab": "276074a20a92c4e2",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "89e0c628fc3616e0",
        "type": "ui_tab",
        "name": "Bâtiment Admin",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e14c4e9c153d58e",
        "type": "ui_group",
        "name": "Capteur température",
        "tab": "89e0c628fc3616e0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c4c4748ef8c2fbf",
        "type": "ui_group",
        "name": "Capteur Humidité",
        "tab": "89e0c628fc3616e0",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e210ddef99c504c9",
        "type": "ui_group",
        "name": "Capteur CO2",
        "tab": "89e0c628fc3616e0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f8a2f5922f3df02",
        "type": "ui_group",
        "name": "Capteur Luminosité",
        "tab": "89e0c628fc3616e0",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01607195b8a5e414",
        "type": "ui_group",
        "name": "Capteur Température",
        "tab": "055b3e024f8d4ae5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5801fe75e1e33d78",
        "type": "mqtt in",
        "z": "9b367bdde296e5ee",
        "name": "",
        "topic": "AM107/by-room/E006/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "868341df9f859653",
                "161333a37b603f20",
                "5b9feae80d62b1db",
                "6e0336d68b1500ad"
            ]
        ]
    },
    {
        "id": "3d5b23457c6f638e",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E006",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "b95255d52f4c3811",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "868341df9f859653",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "3d5b23457c6f638e",
                "b95255d52f4c3811"
            ]
        ]
    },
    {
        "id": "161333a37b603f20",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "6973356d0e0a034e",
                "646ee1487e2f8c6a"
            ]
        ]
    },
    {
        "id": "6973356d0e0a034e",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E006",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "646ee1487e2f8c6a",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b9feae80d62b1db",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "0cf76d32bb443fb2",
                "1657ac9f1259f40b"
            ]
        ]
    },
    {
        "id": "0cf76d32bb443fb2",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E006",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "1657ac9f1259f40b",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e0336d68b1500ad",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "17371ed38c1b9cab",
                "63580bef22644df5"
            ]
        ]
    },
    {
        "id": "17371ed38c1b9cab",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E006",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "63580bef22644df5",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "53640b1f4225a390",
        "type": "mqtt in",
        "z": "9b367bdde296e5ee",
        "name": "",
        "topic": "AM107/by-room/E105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "d1c5e0c18c18ef5d",
                "d7e1dc7870fade14",
                "1afe8fa88cadbf3c",
                "5acf5fc854a0342e"
            ]
        ]
    },
    {
        "id": "280e6642b360af3f",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E105",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "607eb771748d4c2c",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "d1c5e0c18c18ef5d",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "280e6642b360af3f",
                "607eb771748d4c2c"
            ]
        ]
    },
    {
        "id": "d7e1dc7870fade14",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "a8615105827fa305",
                "93e1183ba2eede13"
            ]
        ]
    },
    {
        "id": "a8615105827fa305",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E105",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "93e1183ba2eede13",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "1afe8fa88cadbf3c",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "1291cfd982333aa0",
                "2c146b805d6e5d0b"
            ]
        ]
    },
    {
        "id": "1291cfd982333aa0",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E105",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "2c146b805d6e5d0b",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "5acf5fc854a0342e",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "72cb6751f0e99e2e",
                "5d8c6b3c356d2cc8"
            ]
        ]
    },
    {
        "id": "72cb6751f0e99e2e",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E105",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "5d8c6b3c356d2cc8",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "6298fe941c526bbe",
        "type": "mqtt in",
        "z": "9b367bdde296e5ee",
        "name": "",
        "topic": "AM107/by-room/E208/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "2b0ccae40d9eba9f",
                "1d80cf76eadb5bc0",
                "28e2fbcfb56a8c8d",
                "83ec7249d3f34a06"
            ]
        ]
    },
    {
        "id": "e11cbe6933109ed8",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E208",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "4bf11444078d3c32",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "2b0ccae40d9eba9f",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "e11cbe6933109ed8",
                "4bf11444078d3c32"
            ]
        ]
    },
    {
        "id": "1d80cf76eadb5bc0",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "ae9009c9771bfea3",
                "e5d24b056f9a8352"
            ]
        ]
    },
    {
        "id": "ae9009c9771bfea3",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E208",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5d24b056f9a8352",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "28e2fbcfb56a8c8d",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "f112b580fbcaba74",
                "5962e51515c2444d"
            ]
        ]
    },
    {
        "id": "f112b580fbcaba74",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E208",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "5962e51515c2444d",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "83ec7249d3f34a06",
        "type": "function",
        "z": "9b367bdde296e5ee",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "682070f2898438ee",
                "1d59a334c1481268"
            ]
        ]
    },
    {
        "id": "682070f2898438ee",
        "type": "ui_gauge",
        "z": "9b367bdde296e5ee",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E208",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d59a334c1481268",
        "type": "influxdb out",
        "z": "9b367bdde296e5ee",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "64698599fe8f8589",
        "type": "mqtt in",
        "z": "9f0ec1232e169d77",
        "name": "",
        "topic": "AM107/by-room/B105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "6fb7d3971f33237d",
                "dbf73c4ccf1f2ffc",
                "78b93b5e44dae04b",
                "acbb33254579f6e1"
            ]
        ]
    },
    {
        "id": "f5682493c8f0efc2",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01607195b8a5e414",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B105",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "8a875a76fd7ca86e",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "6fb7d3971f33237d",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [
            [
                "f5682493c8f0efc2",
                "8a875a76fd7ca86e"
            ]
        ]
    },
    {
        "id": "dbf73c4ccf1f2ffc",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "5151029098008471",
                "5a3f39399b7af420"
            ]
        ]
    },
    {
        "id": "5151029098008471",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01506f2f2708949f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B105",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "5a3f39399b7af420",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "78b93b5e44dae04b",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "3e0512bb17b128cc",
                "9191808df24cf92c"
            ]
        ]
    },
    {
        "id": "3e0512bb17b128cc",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "5be29dfa5634931b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B105",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "9191808df24cf92c",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "acbb33254579f6e1",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "37fcb501a607359a",
                "29b4b24b06104d4e"
            ]
        ]
    },
    {
        "id": "37fcb501a607359a",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "82033acff3d40018",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B105",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "29b4b24b06104d4e",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "e815186e5fb70f9f",
        "type": "mqtt in",
        "z": "9f0ec1232e169d77",
        "name": "",
        "topic": "AM107/by-room/B001/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "79bd631fa126184b",
                "8ab36595cb378e55",
                "55f346d29218518c",
                "29549a353b659aa6"
            ]
        ]
    },
    {
        "id": "7b57f84bddd15179",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01607195b8a5e414",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B001",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "987f5c403aa2baf9",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "79bd631fa126184b",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "7b57f84bddd15179",
                "987f5c403aa2baf9"
            ]
        ]
    },
    {
        "id": "8ab36595cb378e55",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "0832e3ef0eabd7a3",
                "d5183e5563ad918c"
            ]
        ]
    },
    {
        "id": "0832e3ef0eabd7a3",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01506f2f2708949f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B001",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "d5183e5563ad918c",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "55f346d29218518c",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "7715704e86b85657",
                "2a7f164ebdd3b079"
            ]
        ]
    },
    {
        "id": "7715704e86b85657",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "5be29dfa5634931b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B001",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a7f164ebdd3b079",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "29549a353b659aa6",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "49898831ef335f53",
                "086137faf0bd60c1"
            ]
        ]
    },
    {
        "id": "49898831ef335f53",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "82033acff3d40018",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B001",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "086137faf0bd60c1",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "a1bd3ef73f5e22b2",
        "type": "mqtt in",
        "z": "9f0ec1232e169d77",
        "name": "",
        "topic": "AM107/by-room/B212/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "d1a583271550d883",
                "9c712126ea550645",
                "83244de48d65b6e3",
                "2e60e25f223bdc73"
            ]
        ]
    },
    {
        "id": "ec73024801cf89e5",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01607195b8a5e414",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B212",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 80,
        "wires": []
    },
    {
        "id": "b2c56865db7eff05",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "d1a583271550d883",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "ec73024801cf89e5",
                "b2c56865db7eff05"
            ]
        ]
    },
    {
        "id": "9c712126ea550645",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "85f21ba10823e6f3",
                "9073e533b2e69dc1"
            ]
        ]
    },
    {
        "id": "85f21ba10823e6f3",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "01506f2f2708949f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B212",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 160,
        "wires": []
    },
    {
        "id": "9073e533b2e69dc1",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "83244de48d65b6e3",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "c501a69adc04f31c",
                "6c049c931c8768a9"
            ]
        ]
    },
    {
        "id": "c501a69adc04f31c",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "5be29dfa5634931b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B212",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "6c049c931c8768a9",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 280,
        "wires": []
    },
    {
        "id": "2e60e25f223bdc73",
        "type": "function",
        "z": "9f0ec1232e169d77",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "9c90fab91c833672",
                "8e3d7bd0ad3291bb"
            ]
        ]
    },
    {
        "id": "9c90fab91c833672",
        "type": "ui_gauge",
        "z": "9f0ec1232e169d77",
        "name": "",
        "group": "82033acff3d40018",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B212",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e3d7bd0ad3291bb",
        "type": "influxdb out",
        "z": "9f0ec1232e169d77",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "eebe054e513723af",
        "type": "mqtt in",
        "z": "e42de1899c7538e1",
        "name": "",
        "topic": "AM107/by-room/C006/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "3307172fa8823459",
                "5fe92ed125c6e885",
                "10197015720a5a2b",
                "642dcc65b273d537"
            ]
        ]
    },
    {
        "id": "e34d6ecb8c2dcba8",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "b358c62dfbc992bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp C006",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "2990221fa214092f",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "3307172fa8823459",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "e34d6ecb8c2dcba8",
                "2990221fa214092f"
            ]
        ]
    },
    {
        "id": "5fe92ed125c6e885",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "c3d28beb757db432",
                "f8cbea0f3e96de9b"
            ]
        ]
    },
    {
        "id": "c3d28beb757db432",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "c96d2cc9eebb7320",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum C006",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "f8cbea0f3e96de9b",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "10197015720a5a2b",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "b4005195c1749bbd",
                "794d97419b67faf7"
            ]
        ]
    },
    {
        "id": "b4005195c1749bbd",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "195764252962811e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 C006",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "794d97419b67faf7",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "642dcc65b273d537",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "d05eb07839f33d42",
                "e3be5d75d12c1ebe"
            ]
        ]
    },
    {
        "id": "d05eb07839f33d42",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "df5c8f4a8a25c5a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum C006",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "e3be5d75d12c1ebe",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d8f7340be4f41b3",
        "type": "mqtt in",
        "z": "e42de1899c7538e1",
        "name": "",
        "topic": "AM107/by-room/C102/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "564fc52939a8a0ea",
                "75fda2990da4d5c5",
                "a9013bd259441f17",
                "01dd98bcb6574142"
            ]
        ]
    },
    {
        "id": "6041871c5ce7f1fb",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "b358c62dfbc992bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp C102",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "2079d8cdf699da43",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=C,room=C102",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "564fc52939a8a0ea",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "6041871c5ce7f1fb",
                "2079d8cdf699da43"
            ]
        ]
    },
    {
        "id": "75fda2990da4d5c5",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "a3ec5bb7cba35601",
                "2a45c3d1e7951395"
            ]
        ]
    },
    {
        "id": "a3ec5bb7cba35601",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "c96d2cc9eebb7320",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum C102",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "2a45c3d1e7951395",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=C,room=C102",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "a9013bd259441f17",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "1bc6fd08d7af9dc9",
                "4ff211c5904d49ee"
            ]
        ]
    },
    {
        "id": "1bc6fd08d7af9dc9",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "195764252962811e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 C102",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ff211c5904d49ee",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=C,room=C102",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "01dd98bcb6574142",
        "type": "function",
        "z": "e42de1899c7538e1",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "ecff190288e125a9",
                "8ea7d9cb5556233b"
            ]
        ]
    },
    {
        "id": "ecff190288e125a9",
        "type": "ui_gauge",
        "z": "e42de1899c7538e1",
        "name": "",
        "group": "df5c8f4a8a25c5a9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum C102",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "8ea7d9cb5556233b",
        "type": "influxdb out",
        "z": "e42de1899c7538e1",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=C,room=C102",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "3ee0b7231b0e2ab0",
        "type": "mqtt in",
        "z": "0609345a0b36c63d",
        "name": "",
        "topic": "AM107/by-room/hall-entrée-principale/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "15482af64a89b4f3",
                "a797893268c5012c",
                "77e5fd2987d1447c",
                "ad5cb72cf9b78977"
            ]
        ]
    },
    {
        "id": "d137bf486d894452",
        "type": "ui_gauge",
        "z": "0609345a0b36c63d",
        "name": "",
        "group": "8e14c4e9c153d58e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp hall-entrée-principale",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "f05ddbad3f404a8d",
        "type": "influxdb out",
        "z": "0609345a0b36c63d",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "15482af64a89b4f3",
        "type": "function",
        "z": "0609345a0b36c63d",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "d137bf486d894452",
                "f05ddbad3f404a8d"
            ]
        ]
    },
    {
        "id": "a797893268c5012c",
        "type": "function",
        "z": "0609345a0b36c63d",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "e22eb915a7d4a52c",
                "f3d1587499add9d7"
            ]
        ]
    },
    {
        "id": "e22eb915a7d4a52c",
        "type": "ui_gauge",
        "z": "0609345a0b36c63d",
        "name": "",
        "group": "2c4c4748ef8c2fbf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum hall-entrée-principale",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3d1587499add9d7",
        "type": "influxdb out",
        "z": "0609345a0b36c63d",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "77e5fd2987d1447c",
        "type": "function",
        "z": "0609345a0b36c63d",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "5a779adfbf4008fc",
                "d50dd7880685d38c"
            ]
        ]
    },
    {
        "id": "5a779adfbf4008fc",
        "type": "ui_gauge",
        "z": "0609345a0b36c63d",
        "name": "",
        "group": "e210ddef99c504c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 hall-entrée-principale",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "d50dd7880685d38c",
        "type": "influxdb out",
        "z": "0609345a0b36c63d",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad5cb72cf9b78977",
        "type": "function",
        "z": "0609345a0b36c63d",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "e8c02d6ceb1b3eba",
                "db564c0eba0350cc"
            ]
        ]
    },
    {
        "id": "e8c02d6ceb1b3eba",
        "type": "ui_gauge",
        "z": "0609345a0b36c63d",
        "name": "",
        "group": "0f8a2f5922f3df02",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum hall-entrée-principale",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "db564c0eba0350cc",
        "type": "influxdb out",
        "z": "0609345a0b36c63d",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 300,
        "wires": []
    }
]
