flows(mqtt.iut-blagnac.fr).json
[
    {
        "id": "4b230ea94cb4edf6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29d782f5f4aba385",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/E006/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "36cc2a6bd9f7e9c2",
                "1785d0e484380527",
                "d7eaaaa2bea6c697",
                "181cad6baea82ca7"
            ]
        ]
    },
    {
        "id": "3e6a08f89ddef573",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E006",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "9595c67656856f25",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "36cc2a6bd9f7e9c2",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "3e6a08f89ddef573",
                "9595c67656856f25"
            ]
        ]
    },
    {
        "id": "1785d0e484380527",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "0aa73c0c583747ec",
                "d50f9900448bbdfd"
            ]
        ]
    },
    {
        "id": "0aa73c0c583747ec",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E006",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "d50f9900448bbdfd",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "d7eaaaa2bea6c697",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "8c821101944cdb74",
                "8ae7cff17547909a"
            ]
        ]
    },
    {
        "id": "8c821101944cdb74",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E006",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "8ae7cff17547909a",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "181cad6baea82ca7",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "08519e1fee67b29d",
                "31d152d05cffa270"
            ]
        ]
    },
    {
        "id": "08519e1fee67b29d",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E006",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "31d152d05cffa270",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "92bfed28c9041721",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/E105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "dc0b75266ff043a6",
                "62b687f128ef1194",
                "60e289d2eaf6f613",
                "7f6e9935157fc593"
            ]
        ]
    },
    {
        "id": "a0222254c41103c9",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E105",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "e13282890da65e76",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "dc0b75266ff043a6",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "a0222254c41103c9",
                "e13282890da65e76"
            ]
        ]
    },
    {
        "id": "62b687f128ef1194",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "2c58496cc7c4c1f5",
                "e0926162f1dc2273"
            ]
        ]
    },
    {
        "id": "2c58496cc7c4c1f5",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E105",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "e0926162f1dc2273",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "60e289d2eaf6f613",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "f8cc57baab897119",
                "869612ffce3d0ff9"
            ]
        ]
    },
    {
        "id": "f8cc57baab897119",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E105",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "869612ffce3d0ff9",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "7f6e9935157fc593",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "822278e1c4a6a46f",
                "35b74595adef6035"
            ]
        ]
    },
    {
        "id": "822278e1c4a6a46f",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E105",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "35b74595adef6035",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "38d790bbc5e1cd52",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/E208/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "cdd4526a44e38075",
                "2a3e788eb84770ea",
                "43662d264fc92661",
                "43473064fe12e24c"
            ]
        ]
    },
    {
        "id": "945393b35f724175",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp E208",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a34c2791f92ae41",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdd4526a44e38075",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "945393b35f724175",
                "4a34c2791f92ae41"
            ]
        ]
    },
    {
        "id": "2a3e788eb84770ea",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "c8b71d66f0a51d2c",
                "44cc1c1d28ee6f21"
            ]
        ]
    },
    {
        "id": "c8b71d66f0a51d2c",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E208",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "44cc1c1d28ee6f21",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "43662d264fc92661",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "75f750f009132bb1",
                "ba5fa5acfa75451e"
            ]
        ]
    },
    {
        "id": "75f750f009132bb1",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E208",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba5fa5acfa75451e",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "43473064fe12e24c",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "c720f89a1f9f2ec4",
                "545e0ed60bf40ba8"
            ]
        ]
    },
    {
        "id": "c720f89a1f9f2ec4",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E208",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "545e0ed60bf40ba8",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "03d4b0724bd365ea",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/B105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "e1e23a5383e8eb65",
                "2936edfa7b5fcebf",
                "607d54ced49d3b95",
                "6fa8eabbe4afdcd2"
            ]
        ]
    },
    {
        "id": "1cb245175a303784",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B105",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1220,
        "wires": []
    },
    {
        "id": "875361e7bc14f351",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e1e23a5383e8eb65",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "1cb245175a303784",
                "875361e7bc14f351"
            ]
        ]
    },
    {
        "id": "2936edfa7b5fcebf",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "19e7508136f2efde",
                "29c2e13aef47378e"
            ]
        ]
    },
    {
        "id": "19e7508136f2efde",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B105",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1300,
        "wires": []
    },
    {
        "id": "29c2e13aef47378e",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1340,
        "wires": []
    },
    {
        "id": "607d54ced49d3b95",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1400,
        "wires": [
            [
                "ad126c8b67b2573a",
                "eaf36a030fedb0d5"
            ]
        ]
    },
    {
        "id": "ad126c8b67b2573a",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B105",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1380,
        "wires": []
    },
    {
        "id": "eaf36a030fedb0d5",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1420,
        "wires": []
    },
    {
        "id": "6fa8eabbe4afdcd2",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1480,
        "wires": [
            [
                "22680aa175d852ba",
                "ecfd6e2f3d4213a1"
            ]
        ]
    },
    {
        "id": "22680aa175d852ba",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B105",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ecfd6e2f3d4213a1",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1500,
        "wires": []
    },
    {
        "id": "86abd73440c6438b",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/C006/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "ec6c806218ad8138",
                "dc238fb5055c5995",
                "aa9d2e5518c8b86b",
                "6b500a08fee4f7a1"
            ]
        ]
    },
    {
        "id": "2a83625ef816fa8d",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp C006",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0889d92ca71e1d9d",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1660,
        "wires": []
    },
    {
        "id": "ec6c806218ad8138",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1640,
        "wires": [
            [
                "2a83625ef816fa8d",
                "0889d92ca71e1d9d"
            ]
        ]
    },
    {
        "id": "dc238fb5055c5995",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "be06e5d18d05ccae",
                "91e0ec8a85314321"
            ]
        ]
    },
    {
        "id": "be06e5d18d05ccae",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum C006",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1700,
        "wires": []
    },
    {
        "id": "91e0ec8a85314321",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1740,
        "wires": []
    },
    {
        "id": "aa9d2e5518c8b86b",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1800,
        "wires": [
            [
                "0c4768d6e0bd9257",
                "4b2cf0fb5914cbcb"
            ]
        ]
    },
    {
        "id": "0c4768d6e0bd9257",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 C006",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1780,
        "wires": []
    },
    {
        "id": "4b2cf0fb5914cbcb",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6b500a08fee4f7a1",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1880,
        "wires": [
            [
                "a5f8cbcd4b4aea07",
                "469dcd2baaea578a"
            ]
        ]
    },
    {
        "id": "a5f8cbcd4b4aea07",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum C006",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1860,
        "wires": []
    },
    {
        "id": "469dcd2baaea578a",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=C,room=C006",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1900,
        "wires": []
    },
    {
        "id": "14adb666c6ccd953",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/B001/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "d529c63615c39588",
                "ddd72408fc9593a3",
                "2051dc1b9ede1ebe",
                "b68352f3e47c75cb"
            ]
        ]
    },
    {
        "id": "3743a367cee1f1be",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B001",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "45a505c829b9c7a2",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 920,
        "wires": []
    },
    {
        "id": "d529c63615c39588",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 900,
        "wires": [
            [
                "3743a367cee1f1be",
                "45a505c829b9c7a2"
            ]
        ]
    },
    {
        "id": "ddd72408fc9593a3",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "ea71d7b585f8da22",
                "4b559d2e9c21b156"
            ]
        ]
    },
    {
        "id": "ea71d7b585f8da22",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B001",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "4b559d2e9c21b156",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2051dc1b9ede1ebe",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "97bef8e30e1f3689",
                "b0abbf7cf566314a"
            ]
        ]
    },
    {
        "id": "97bef8e30e1f3689",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B001",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b0abbf7cf566314a",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b68352f3e47c75cb",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "c03aca6a7be2dcf8",
                "b3a591cba68f496c"
            ]
        ]
    },
    {
        "id": "c03aca6a7be2dcf8",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B001",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b3a591cba68f496c",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B001",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c5de1bf37b899ca2",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/hall-entrée-principale/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 2500,
        "wires": [
            [
                "7876285a42c10a2d",
                "3be3d95f1b997dd8",
                "601b6760dcca0eed",
                "c341f071022dd439"
            ]
        ]
    },
    {
        "id": "24a1f5f0812aa450",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp hall-entrée-principale",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 2360,
        "wires": []
    },
    {
        "id": "b6a482e845849d09",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 2400,
        "wires": []
    },
    {
        "id": "7876285a42c10a2d",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2380,
        "wires": [
            [
                "24a1f5f0812aa450",
                "b6a482e845849d09"
            ]
        ]
    },
    {
        "id": "3be3d95f1b997dd8",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2460,
        "wires": [
            [
                "30e9acb238ec880b",
                "0fbaaba54ca36251"
            ]
        ]
    },
    {
        "id": "30e9acb238ec880b",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum hall-entrée-principale",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 2440,
        "wires": []
    },
    {
        "id": "0fbaaba54ca36251",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 2480,
        "wires": []
    },
    {
        "id": "601b6760dcca0eed",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2540,
        "wires": [
            [
                "804b02f56d02ade4",
                "3dae055f284fa1b4"
            ]
        ]
    },
    {
        "id": "804b02f56d02ade4",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 hall-entrée-principale",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 2520,
        "wires": []
    },
    {
        "id": "3dae055f284fa1b4",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 2560,
        "wires": []
    },
    {
        "id": "c341f071022dd439",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2620,
        "wires": [
            [
                "8ae8f93b73261197",
                "e641605c4227cc54"
            ]
        ]
    },
    {
        "id": "8ae8f93b73261197",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum hall-entrée-principale",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 2600,
        "wires": []
    },
    {
        "id": "e641605c4227cc54",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=A,room=hall-entrée-principale",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 2640,
        "wires": []
    },
    {
        "id": "6ed801cede89368d",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/B212/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "64efd7b35ad67af2",
                "9446c08e4bf2cd4b",
                "f053106a4df1ca12",
                "1925497378038139"
            ]
        ]
    },
    {
        "id": "755f6a56b46c018f",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp B212",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 880,
        "wires": []
    },
    {
        "id": "9325b747be5bb08a",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 920,
        "wires": []
    },
    {
        "id": "64efd7b35ad67af2",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 900,
        "wires": [
            [
                "755f6a56b46c018f",
                "9325b747be5bb08a"
            ]
        ]
    },
    {
        "id": "9446c08e4bf2cd4b",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 980,
        "wires": [
            [
                "71436e87b0c7fa90",
                "ba703bf0341536b4"
            ]
        ]
    },
    {
        "id": "71436e87b0c7fa90",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum B212",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 960,
        "wires": []
    },
    {
        "id": "ba703bf0341536b4",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f053106a4df1ca12",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "e5b57290e9666f38",
                "4ba89c6732048360"
            ]
        ]
    },
    {
        "id": "e5b57290e9666f38",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 B212",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4ba89c6732048360",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1925497378038139",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1140,
        "wires": [
            [
                "838c469abf1bc56f",
                "3863f30d83cceed4"
            ]
        ]
    },
    {
        "id": "838c469abf1bc56f",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum B212",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3863f30d83cceed4",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=B,room=B212",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1180,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e0627382eae9d80a",
        "type": "mqtt in",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "topic": "AM107/by-room/C102/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d4177fc0af7369ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 2100,
        "wires": [
            [
                "97dfde9cc7a38a60",
                "cdf42a2bff0c2401",
                "0837801615703107",
                "2de55e9bd4e82468"
            ]
        ]
    },
    {
        "id": "8bad161e8949e6a9",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c33c36a1b291a33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp C102",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1960,
        "wires": []
    },
    {
        "id": "520a3fd28845eb86",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "temperature,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 2000,
        "wires": []
    },
    {
        "id": "97dfde9cc7a38a60",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "temperature",
        "func": "msg.payload = msg.payload[0].temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1980,
        "wires": [
            [
                "8bad161e8949e6a9",
                "520a3fd28845eb86"
            ]
        ]
    },
    {
        "id": "cdf42a2bff0c2401",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "humidite",
        "func": "msg.payload = msg.payload[0].humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2060,
        "wires": [
            [
                "55d28789614596fa",
                "6f41c14c1d807958"
            ]
        ]
    },
    {
        "id": "55d28789614596fa",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "c00aa1f413d799f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "hum E208",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6f41c14c1d807958",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "humidite,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 2080,
        "wires": []
    },
    {
        "id": "0837801615703107",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "CO2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2140,
        "wires": [
            [
                "43682acb89b8d79d",
                "3cdd5796a878070f"
            ]
        ]
    },
    {
        "id": "43682acb89b8d79d",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "320b2a0a7b29eb91",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "co2 E208",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 2120,
        "wires": []
    },
    {
        "id": "3cdd5796a878070f",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "co2,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 2160,
        "wires": []
    },
    {
        "id": "2de55e9bd4e82468",
        "type": "function",
        "z": "4b230ea94cb4edf6",
        "name": "illumination",
        "func": "msg.payload = msg.payload[0].illumination;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2220,
        "wires": [
            [
                "92e3de41dbf188aa",
                "4fa8951ea93936db"
            ]
        ]
    },
    {
        "id": "92e3de41dbf188aa",
        "type": "ui_gauge",
        "z": "4b230ea94cb4edf6",
        "name": "",
        "group": "493bbb8e114bdf94",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "lum E208",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "170",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 2200,
        "wires": []
    },
    {
        "id": "4fa8951ea93936db",
        "type": "influxdb out",
        "z": "4b230ea94cb4edf6",
        "influxdb": "2e741c569e7e0d36",
        "name": "capteurs",
        "measurement": "illumination,building=E,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 540,
        "y": 2240,
        "wires": []
    },
    {
        "id": "d4177fc0af7369ab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c33c36a1b291a33d",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "824dc79fbbce35d0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e741c569e7e0d36",
        "type": "influxdb",
        "hostname": "172.17.0.3",
        "port": 8086,
        "protocol": "http",
        "database": "capteurs",
        "name": "influxdbRT",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "c00aa1f413d799f9",
        "type": "ui_group",
        "name": "Capteurs humidite",
        "tab": "824dc79fbbce35d0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "320b2a0a7b29eb91",
        "type": "ui_group",
        "name": "capteurs CO2",
        "tab": "824dc79fbbce35d0",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "493bbb8e114bdf94",
        "type": "ui_group",
        "name": "capteurs illumination",
        "tab": "824dc79fbbce35d0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "824dc79fbbce35d0",
        "type": "ui_tab",
        "name": "Bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]